/vendor
/node_modules
/public/storage
Homestead.yaml
Homestead.json
.env
.env.example
.gitignore
.ftpquota
.gitattributes
.idea/
.htaccess
artisan
bootstrap/
composer.json
composer.lock
config/
gulpfile.js
package.json
phpunit.xml
readme.md
resources/views/layouts/test.blade.php
resources/views/test.blade.php
resources/views/vendor/
server.php
storage/
tests/
error_log
install_nvm.sh
package-lock.json
sql/
webpack.mix.js

# But not these files...
!.gitignore
!vendor/laravel/framework/src/Illuminate/Routing/Route.php